@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=Fredoka+One&family=Lily+Script+One&family=Megrim&family=Modak&family=Montserrat:wght@700&family=Slackey&display=swap');


/* Main card */
.main {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 15%;
    width: 900px;
    padding: 30px 20px;
    background: rgb(0,72,83);
    background: linear-gradient(328deg, rgba(0,72,83,1) 23%, rgba(39,10,51,1) 35%, rgba(171,174,61,1) 81%);

}


/* input and placeholder */

input::placeholder {
    color: green;
    font-size: .9rem;
    font-weight: 600;
}


#loanInput,#perIn,#monIn,#monInn {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Label section */
label {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;

}
/* buttons */

.buttt {
    display: flex;
}

.btCheck,.btFresh {
    padding: 10px;
    display: block;   
    margin:  auto;
    width: 45%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;

}

.btFresh:hover {
    background-color: chocolate;
}

/*result section */

.total {
    position: absolute;
    top: 45%;
    right: 10%;
    width: 50%;
    text-align: center;
    
}

#result {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: white;
    
}

/* History section */

.history {
    height: 90px;
    width: 150px;
    background-color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

/* h3 section */

.hh {
    margin: 5px;
    font-size: 1.1rem;
    font-family: 'Amaranth', sans-serif;

}

/* history */

#displ1,#displ2,#displ3 {
    font-family: 'Montserrat', sans-serif;
}

/* horizontal line */
hr {
    width: 50%;
    border-bottom: 1px solid grey;
}